body {
    font-family: Arial, sans-serif;
    background-color: rgb(135, 52, 153); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cantainer {
    background-color: #9a30b5; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  #visor {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  .numero {
    background-color: #2365ac; 
  }
  
  .operacao {
    background-color: #18809d; 
    color: #fff; 
  }